.date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 145px;
}

.date-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-slider button {
  color: var(--accent-orange);
  border: none;
  cursor: pointer;
  font-weight: 900;
  background-color: transparent;
  transition: color 0.3s ease;
}

.date-slider button:hover {
  color: var(--text-grey);
}

.date-slider span {
  font-size: 16px;
  color: var(--text-main);
  font-weight: bold;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.text {
  font-size: var(--primary-font-size);
  color: var(--text-grey);
  font-weight: 400;
  letter-spacing: 0.04em;
}
