@import url("../../index.css");

.container-transaction {
  display: flex;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container-transaction {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
}

@media (min-width: 1024px) {
  .container-transaction {
    flex-direction: row;
    align-items: center;

  }
}

.container-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 250px;
  width: 100%;
  /* zmiany w stylizacji - usunięty background i zaokrąglenie narożńika */
}

@media (min-width: 768px) {
  .container-inputs {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: var(--background-modal);
  }
}

.datepicker-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .datepicker-wrapper {
    align-items: center;
    display: flex;
    margin-right: 20px;
  }
}

.datepicker-input-container {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-darkgrey);
  display: flex;
  font-weight: 700;
  line-height: 14px;
  margin-left: 10px;
  width: 74px;
}

.transaction-description {
  background-color: var(--dashboard-input-color);
  border: 2px solid var(--border-color);
  border-radius: 16px 16px 0 0;
  min-width: 120px;
  width: 265px;
  height: 40px;
  padding-left: 20px;
  color: var(--accent-lightgrey);
}

@media (min-width: 768px) {
  .transaction-description {
    width: 100%;
    border-radius: 16px 0 0 0;
  }
}

.transaction-select {
  color: var(--accent-lightgrey);
  display: flex;
  position: relative;
}

.transaction-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 45px;
  width: 290px;
  color: var(--accent-lightgrey);
  font-family: Roboto, sans-serif;
  border: 2px solid var(--border-color);
  border-radius: 0 0 16px 0;
  margin: 0px;
  padding: 0 0 0 20px;
  background-color: var(--dashboard-input-color);
}

@media (min-width: 768px) {
  .transaction-select select {
    max-width: 190px;
    border-radius: 0;
  }
}

.select-arrow {
  width: 20px;
  height: 10px;
  stroke: var(--accent-lightgrey);
  fill: var(--dashboard-input-color);
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 0.3s ease;
}

@media (min-width: 768px) {
  .select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
  }
}

.select-arrow:hover {
  stroke: var(--text-darkgrey);
}

.calc-container {
  position: relative;
}

.calc-input {
  text-align: right;
  padding-right: 40px;
  font-style: normal;
  height: 40px;
  width: 110px;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  color: var(--accent-lightgrey);
  font-size: 18px;
  margin-top: 16px;
  background-color: var(--dashboard-input-color);
}

@media (min-width: 768px) {
  .calc-input {
    border-radius: 0 16px 16px 0;
    margin-top: 0px;
  }
}

.calc-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-darkgrey);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.calc-input[type="number"]::-webkit-inner-spin-button,
.calc-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-input[type="number"] {
  -moz-appearance: textfield;
}

.buttons-wrapper {
  display: flex;
}

@media (min-width: 768px) {
  .buttons-wrapper {
    margin-top: 32px;
  }
}

@media (min-width: 1024px) {
  .buttons-wrapper {
    margin-left: 32px;
    margin-top: 0px;
  }
}

.buttons-wrapper>Button:first-child {
  margin-right: 16px;
}