@import url("../../index.css");

.container-transaction {
  display: flex;
  height: 44px;
}

.datepicker-wrapper {
  align-items: center;
  display: flex;
  margin-right: 32px;
}

.datepicker-input-container {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-darkgrey);
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 14px;
  margin-left: 10px;
  margin-right: 32px;
  width: 74px;
}

.transaction-description {
  font-size: 12px;
  background-color: var(--dashboard-input-color);
  border: 2px solid var(--border-color);
  border-radius: 16px 0 0 0;
  border-right: none;
  color: #c7ccdc;
  height: 44px;
  padding-left: 10px;
}

.transaction-select {
  color: #c7ccdc;
  display: flex;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  height: 44px;
}

.transaction-select::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre;
  grid-area: 1 / 2;
  position: absolute;
  top: 0;
  left: 0;
  font: inherit;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

.select-svg {
  color: #c7ccdc;
}


.calc-input {
    position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  height: 44px;
  border: 2px solid var(--border-color);
  border-left: none;
  border-radius: 0 16px 16px 0;
  font-size: 18px;
  max-width: 183px;
  padding-right: 50px;
 }

.calc-input::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    background-image: url("../../assets/icons.svg#icon-calculator");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #c7ccdc ;
    cursor: pointer;
  }


.calc-input[type="number"]::-webkit-inner-spin-button,
.calc-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-input[type="number"] {
  -moz-appearance: textfield;
}

.transaction-icon {
  align-items: center;
}
