/* .popup { */
/*   position: fixed; */
/*   z-index: 1; */
/*   left: 0; */
/*   top: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   overflow: auto; */
/*   background-color: rgba(190, 190, 190, 0.1); */
/*   font-size: var(--primary-font-size); */
/* } */

.popup .popupInner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 56px 83px;
  gap: 29px;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* font-size: var(--primary-font-size); */
}

.popup .popupInner .Desc {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* font-size: var(--primary-font-size); */
  /* line-height: 14px; */
  /* letter-spacing: 0.04em; */
  color: #52555f;
}

.buttonLoginGoogle {
  width: 119.2px;
  height: 40px;
  filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  background: #f6f7fb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  /* align-items: center; */
  letter-spacing: 0.02em;
  color: #000000;
}

.buttonLoginGoogleIcon {
  /* background: url("./google-symbol.png") transparent 5px 50% no-repeat; */
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.buttonLoginGoogle .buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* font-family: "Roboto", sans-serif; */
}

/* .popupInner h2 { */
/*   margin-top: 0; */
/* } */

.popupInner label {
  display: block;
  margin-bottom: 10px;
  width: 258.92px;
  height: 14px;
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* font-size: var(--primary-font-size); */
  /* line-height: 14px; */
  /* letter-spacing: 0.04em; */
  color: #000000;
}

.popupInner input {
  margin-bottom: 29px;
  width: 258.92px;
  height: 52px;
  background: #f6f7fb;
  border-radius: 30px;
  border-style: none;
}

.mailInpFont {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: var(--secondary-font-size);
  line-height: 16px;
  /* letter-spacing: 0.04em; */
  color: #a6abb9;
}

.pswdInpFont {
  font-family: "Montserrat";
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 44px;
  line-height: 54px;
  display: flex;
  /* align-items: center; */
  color: #000000;
}

.popupInner button[type="submit"],
.popupInner button[type="button"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 122.17px;
  height: 44px;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
  border-radius: 16px;
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 12px;
  /* line-height: 14px; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.popupInner button[type="submit"]:hover,
.popupInner button[type="button"]:hover {
  background: #ff751d;
  color: #ffffff;
}

.popupInner button[type="submit"] {
  margin-top: 20px;
  background: #f5f6fb;
  color: #52555f;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
}

.popupInner button[type="button"] {
  margin-top: 20px;
}

.popupInner button[type="button"]:hover {
  background-color: #da190b;
}

.popupInner button[type="submit"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.popupInner button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}


