@media (min-width: 768px) {
  .hero-container {
    border-radius: 0 0 0 100px;
    margin: 0 auto;
    max-width: 1098px;
  }
}

@media (min-width: 768px) {
  .hero-wrapper {
    background-color: var(--dashboard-color);
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 10px 60px rgba(170, 178, 197, 0.2);
    padding: 32px;
  }
}

@media (min-width: 1024px) {
  .hero-wrapper-tables {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.hero-transaction-table {
  display: none;
}

@media (max-width: 767px) {
  .tab-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab,
  .tab-active {
    width: 50%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab:hover {
    background-color: var(--background-additional);
    color: var(--text-darkgrey);
  }
}

.tab,
.tab-active {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.tab {
  background-color: var(--dashboard-not-active-link-bg);
  color: var(--text-main);
}

.tab-active {
  background-color: var(--accent-orange);
  color: #fff;
}

@media (min-width: 768px) {
  .tab-wrapper {
    align-items: center;
    display: flex;
  }

  .tab,
  .tab-active {
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 13px 40px;
  }

  .tab {
    background-color: var(--dashboard-not-active-link-bg);
    color: var(--text-main);
  }

  .tab-active {
    background-color: var(--dashboard-active-link-bg);
    color: var(--accent-orange);
  }
}
