@import url('../../index.css');

.summary {
  display: none;
}

@media (min-width: 480px) {
  .summary {
    display: block;
    background-color: var(--background-additional);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 60px;
    width: 230px;
  }

  .summary-title {
    align-items: center;
    border-bottom: 4px solid #fff;
    color: var(--text-main);
    display: flex;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    height: 38px;
    justify-content: center;
    line-height: 1.2;
    padding-left: auto;
    padding-right: auto;
    text-transform: uppercase;
  }

  .summary-list {
    list-style: none;
  }

  .summary-item {
    align-items: center;
    border-bottom: 2px solid #fff;
    color: var(--text-darkgrey);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 38px;
    justify-content: space-between;
    letter-spacing: 0.04em;
    line-height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .summary {
    display: block;
    width: 213px;
  }
}