@import url('../../index.css');

.header div {
  /* display: flex; */
  /* gap: 40px;
  margin-top: 60px;
  padding: 20px 20px;
  justify-content: center;  */
  /* margin-top: 60px; */
  /* padding: 20px 20px; */
}

/* .reports-chart-container {
  margin-top: 60px;
  padding: 20px 20px;
} */

.header-reports-chart {
  /* padding-top: 200px; */
  /* margin-top: 200px; */
  background-color: blue;
}