
@import url('../../index.css');

.dashboard {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-main);
}


.back-to-home-link-container a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-right: 40px;
  }
  

@media (max-width: 1023px) {
    .dashboard {
        flex-direction: column;   
    }
}

@media (max-width: 767px) {
    .dashboard {
        flex-direction: column;   

        padding: 10px; 
    }
}
