@import url('../../index.css');

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 16px;
  margin: 20px;
  position: relative;
  background-color: var(--background-main);
}

@media (min-width: 768px) {
  .balance-container {
    flex-direction: row;
  }


}

.balance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-label {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-darkgrey);
}

.balance-value {
  width: 125px;
  height: 42px;
  border-radius: 16px 0 0 16px;
  border: 1px solid var(--border-color);
  ;
  background-color: var(--background-additional);
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .balance-value {
    border-radius: 16px;
  }
}

.modal {
  position: absolute;
  top: 70px;
  left: 0;
  width: calc(100% - 32px);
  z-index: 100;
  background: linear-gradient(90deg, #34495e, #2c3e50, #263859, #212a3a, #1a1a2e);
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  overflow: visible;
}

.modal::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 150px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #34495e;
}

.modal-content {
  font-size: 14px;
}

.text {
  color: var(--text-darkgrey);
}

.confirm-button {
  border-radius: 0 16px 16px 0;
}

@media (min-width: 768px) {
  .confirm-button {
    border-radius: 16px;
  }
}

