:root {
  --background-main: #e0e5eb;
  --background-additional: #f5f6fb;
  --background-modal-darkblue: linear-gradient(90deg,
      #34495e,
      #2c3e50,
      #263859,
      #212a3a,
      #1a1a2e);
  --background-modal: #fff;
  --text-main: #000000;
  --text-darkgrey: #52555f;
  --text-grey: rgba(82, 85, 95, 0.7);
  --accent-lightgrey: #c7ccdc;
  --text-red: #e7192e;
  --text-green: #407946;
  --text-error: #eb5757;
  --text-success: #07bc0c;
  --accent-orange: #ff751d;
  --accent-lightorange: rgba(255, 117, 29, 0.2);
  --table-color: #f5f6fb;
  --table-text: #52555f;
  --dashboard-color: #ffffff;
  --dashboard-active-link-bg: #fefefe;
  --dashboard-not-active-link-bg: #fafbfd;
  --dashboard-input-color: #fff;
  --border-color: #f6f7fc;
  --header-color: #fff;

  --primary-font-size: 12px;
  font-family: Roboto, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
  margin: 0;
}

/* html,
div,
span,
p,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */

html[data-theme="dark"] {
  --background-main: #27282d;
  --background-additional: #27282d;
  --background-modal: #4b4e55;
  --text-main: #fff;
  --text-darkgrey: #fff;
  --table-color: #60646d;
  --table-text:  #c7ccdc;
  --dashboard-color: #4b4e55;
  --dashboard-active-link-bg: #60646d;
  --dashboard-not-active-link-bg: #4b4e55;
  --dashboard-input-color: #60646d;
  --active-link-bg: #60646d;
  --not-active-link-bg: #4b4e55;
  --header-color: #06061f;
}

:root {
  --background-main: #e0e5eb;
  --background-additional: #f5f6fb;
  --background-modal-darkblue: linear-gradient(
    90deg,
    #34495e,
    #2c3e50,
    #263859,
    #212a3a,
    #1a1a2e
  );
  --background-modal: #fff;
  --text-main: #000000;
  --text-darkgrey: #52555f;
  --text-grey: rgba(82, 85, 95, 0.7);
  --accent-lightgrey: #c7ccdc;
  --text-red: #e7192e;
  --text-green: #407946;
  --text-error: #eb5757;
  --text-success: #07bc0c;
  --accent-orange: #ff751d;
  --accent-lightorange: rgba(255, 117, 29, 0.2);
  --table-color: #f5f6fb;
  --dashboard-color: #ffffff;
  --dashboard-active-link-bg: #fefefe;
  --dashboard-not-active-link-bg: #fafbfd;
  --dashboard-input-color: #fff;
  --border-color: #f6f7fc;
  --header-color: #fff;

  font-family: Roboto, sans-serif;
  --primary-font-size: 12px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul,
  ol,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

}

html[data-theme="dark"] {
  --background-main: #27282d;
  --background-additional: #27282d;
  --background-modal: #4b4e55;
  --text-main: #fff;
  --text-darkgrey: #fff;
  --table-color: #60646d;
  --dashboard-color: #4b4e55;
  --dashboard-active-link-bg: #60646d;
  --dashboard-not-active-link-bg: #4b4e55;
  --dashboard-input-color: #60646d;
  --active-link-bg: #60646d;
  --not-active-link-bg: #4b4e55;
  --header-color: #06061f;
}
